.slide-wrapper > div:not(:first-child) {
    display: none;
    z-index: 10;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100vh;
}
.slide-wrapper > div:not(:first-child) > div {
    display: block;
    width: 100%;
}
.slide-wrapper > div:not(:first-child) > div > h1 {
    font-size: 3em;
    padding: 0 30px 30px 30px;
    color: rgba(0,0,0,0.7);
}
.slide-wrapper > div:not(:first-child) > div:not(.active) {
    background: rgba(159,159,159,0.7);
    margin: 5px;
}
.slide-wrapper > div:not(:first-child) > div:not(.active):nth-child(1) {
    border-radius: 1em 1em 0 0;
}
.slide-wrapper > div:not(:first-child) > div:not(.active):nth-last-child(1) {
    border-radius: 0 0 1em 1em;
}
.slide-wrapper > div:not(:first-child) > div > div {
    max-height: 0;
    overflow: hidden;
    flex-direction: row;
    font-size: 1.2em;
    background: rgba(159,159,159,0.7);
    border-radius: 0 0 2em;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
.slide-wrapper > div:not(:first-child) > div:nth-child(1) > div {
    display: flex;
}

.slide-wrapper > div:not(:first-child) > div > div > p {
    flex: 3;
    padding: 20px;
}
.slide-wrapper > div:not(:first-child) > div > div > div {
    flex: 1;
}
.slide-wrapper > div:not(:first-child) > div > div > div > img {
    display: none;
    width: 100%;
    min-height:100%;
}




#active {
    display: block;
}
#active div {
    display: flex;
    /* height: auto; */
    max-height: 100vh;
}
#active div div, #active img {
    display: block;
}



.chatbot {
    display: none;
    width: 80%;
    height: 13em;
    padding: 10px;
    margin: 10px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}
.chatbot .messages {
    height: 12em;
}
.chatbot .messages div:nth-child(odd) {
    display: none;
    margin: 5px;
    padding: 5px 15px;
    max-width: 70%;
    border-radius: 10%;
    font-size: 0.7em;
    background: #0084FF;
    float: right;
}
.chatbot .messages div:nth-child(even) {
    display: none;
    margin: 5px;
    padding: 5px 15px;
    max-width: 70%;
    border-radius: 10%;
    font-size: 0.7em;
    background: #E4E6EB;
    float: left;
}
.chatbot input {
    display: block;
    outline: none;
    border: none;
    height: 1.5em;
    width: 100%;
    border-radius: 10%;
}


.history_wrapper {
    display: block;
    overflow-y: hidden;
    height: 0;
    transition: 1s;
}
.history_wrapper img {
    width: 100%;
    min-height:100%;
}