.slide-wrapper > div:not(:first-child) {
    display: none;
    transition: 1s;
    z-index: 10;
}
.slide-wrapper > div:not(:first-child) > div {
    display: block;
    width: 100%;
}
.slide-wrapper > div:not(:first-child) > div > h1 {
    font-size: 3em;
    padding: 0 30px 30px 30px;
    color: rgba(159,159,159,0.7);
}
.slide-wrapper > div:not(:first-child) > div > div {
    display: flex;
    font-size: 1.2em;
    background: rgba(159,159,159,0.7);
    border-radius: 0 0 2em;
}

.slide-wrapper > div:not(:first-child) > div > div > p {
    flex: 3;
    padding: 20px;
}
.slide-wrapper > div:not(:first-child) > div > div > div {
    flex: 1;
}
.slide-wrapper > div:not(:first-child) > div > div > div > img {
    display: none;
    width: 100%;
}


