.history {
    position: absolute;
    transform: translateX(100%);
    transition: 1s;
}

.history h1 {
    font-size: 3em;
    padding: 30px;
    color: #888;
}
.history p {
    font-size: 1.4em;
    background: #888;
    padding: 20px;
    border-radius: 0 0 2em;
}