.components {
    display: none;
    transition: 1s;
    z-index: 10;
}
.components div {
    display: block;
    width: 100%;
}
.components div h1 {
    font-size: 3em;
    padding: 30px;
    color: rgba(159,159,159,0.7);
}
.components div p {
    font-size: 1.4em;
    background: rgba(159,159,159,0.7);
    padding: 20px;
    border-radius: 0 0 2em;
}