.slide {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin: auto;
}
.slide div {
    transition:ease-in .3s;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
}
.Div {
    flex: 1;
    position: fixed;
    background: rgba(159,159,159,0.9);
    text-align: center;
    width: 50px;
    padding: 10px;
    border-radius: 0.75em;
}

.Div2{
    flex: 1;
    position: fixed;
    text-align: center;
    background: rgba(159,159,159,0.8);
    padding: 20px;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.Div3{
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    height: 60px;
    border-radius: 50%;
}
.empchars {
    background: rgba(159,159,159,0.4);
}