.uses {
    display: none;
    transition: 1s;
    z-index: 10;
}
.uses div {
    display: block;
    width: 100%;
}
.uses div h1 {
    font-size: 3em;
    padding: 30px;
    color: rgba(159,159,159,0.7);
}
.uses div div {
    display: flex;
    font-size: 1.4em;
    background: rgba(159,159,159,0.7);
    border-radius: 0 0 2em;
}

.uses div div p {
    padding: 20px;
}
.uses div div img {
    border-radius: 0 0 2em;
}